@font-face {
    font-family: 'Spartan';
    src: url('fonts/Spartan-Medium.ttf') format('truetype');
}
*
{
    font-family: "Spartan";
    font-size: 15px;
}
.attribution {position: absolute; bottom: 0;}

html 
{  
    height: 100vh;
    background: url("images/bg-pattern-top-desktop.svg")  no-repeat fixed,
    url("images/bg-pattern-bottom-desktop.svg") right bottom no-repeat fixed;
    background-size: auto, 75% 80%;
}
body
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

main
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    width: 80%;
    height: 70%;
}

.presentation
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.product_description
{
    width: 35%;
}
h1
{
    font-size: 3em;
    line-height: 45px;
    color: hsl(300, 43%, 22%);
    font-weight: bold;
}
.product_description p { color: hsl(303, 10%, 53%);}

.review1, .review2, .review3
{
    color: hsl(300, 43%, 22%);
    background-color: hsl(300, 24%, 96%);
    border-radius: 10px;
    
    margin-bottom: 5%;
    height: 7vh;
    width: 30vw;

    display: flex;
    justify-content: space-evenly;
    align-items: center;

    font-weight: bold;
}

.review1 { transform: translate(-30%, 0%)}
.review2 { transform: translate(-15%, 0%)}
.review3 { transform: translate(0%, 0%)}

.people_reviews
{
    display: flex;
    justify-content: space-between;
}

.review_smith img, .review_roberts img, .review_wallace img { border-radius: 50%; width: 35px; margin-right: 7%;}
.review_smith p, .review_roberts p, .review_wallace p { color: hsl(300, 24%, 96%); font-size: small; width: 80%; line-height: 1.6em;}
.review_smith, .review_roberts, .review_wallace
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    color: hsl(0, 0%, 100%);
    background-color: hsl(300, 43%, 22%);
    border-radius: 10px;
    font-size: 15px;
    font-weight: 400;

    width: 30%;
    height: 30vh;
}
.header_review
{
    display: flex;
    align-items: center;
    width: 80%;
    margin-bottom: 5%;
}

.review_smith {transform: translate(0%, 25%);}
.review_roberts {transform: translate(0%, 30%);}
.review_wallace {transform: translate(0%, 35%);}

.verified_buyer
{
    color: hsl(333, 80%, 67%);
    opacity: 0.7;
}

@media all and (max-width: 992px)
{
    .attribution {position: relative; bottom: auto;}

    .review1,.review2,.review3,.review_roberts, .review_smith, .review_wallace {transform: none;}
    html
    {
        background: url("images/bg-pattern-top-mobile.svg")  no-repeat fixed,
        url("images/bg-pattern-bottom-mobile.svg") right bottom no-repeat fixed;
        height: auto;
        overflow: visible;
    }

    body
    {
        width: 100%;
        height: auto;
    }
    main
    {
        flex-direction: column;
        width: 90%;
    }

    .presentation
    {
        flex-direction: column;
        justify-content: center;
        align-items: center;

        text-align: center;
        width: 100%;
    }
    .product_description
    {
        width: 100%;
        margin-top: 20%;
        margin-bottom: 10%;
    }
    h1
    {
       align-self: center;
       width: 80%;
       font-size: 1.5em;
       line-height: 1em;
       margin:auto;
       margin-top:15%;
    }
    .rated_reviews {width: 100%;}
    .review1, .review2, .review3
    {
        flex-direction: column;
        width: 100%;
        margin: 0;
        margin-bottom: 5%;
        padding-top: 7%;
        padding-bottom: 7%;
    }

    .people_reviews
    {
        flex-direction: column;
        width: 100%;
        height: auto;
    }
    .review_smith, .review_roberts, .review_wallace
    {
        width: 100%;
        height: auto;
        padding-top: 10%;
        padding-bottom: 5%;
        margin-bottom: 5%;
    }   
}
